extends layout

block content
    .single
        .single__hero
            img.single__image(src=`/uploads/${profile.photo || 'profile.jpg'}`)
            h2.title.title--single
                a(href=`profile/${profile.slug}`) #{profile.name}
    .single__details.inner
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid autem, harum. Officiis quaerat debitis quibusdam, culpa eius expedita odio nulla libero tempore sint dignissimos. Ut, aspernatur ipsam nobis accusantium quaerat!
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae molestiae voluptas sequi, veniam nobis aliquam autem, reiciendis, consequatur illo aspernatur nemo, fugit earum optio veritatis aliquid non animi voluptates totam.
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate culpa aspernatur, accusamus quas, numquam maxime. Impedit assumenda nihil quaerat. Exercitationem sint, quos cupiditate magnam veniam nihil soluta libero sunt aspernatur!

            //- .single__details
            //-     p.single__location=`Joined ${profile.created}`
            //-     p= profile.gender
            //-     p= profile.age
            //-     p= profile.about
            //-     p= profile.weight
            //-     p= profile.height
            //-     p= profile.waist
            //-     p= profile.fat_percent
