mixin forgotForm()
    form(action="/account/forgot" method="POST" class="card")
        h2 Forgot Password?
        .form-contents
            label(for="email") Email Address
            input(type="email" name="email" required)
            input.button(type="submit" value="Reset Password")