input, textarea {
  display: block;
  background: #e8ebed;
  width: 100%;
  padding: 15px 15px;
  border-radius: 5px;
  outline: none;
  border: none;
  &.input {
    &--error {
      border-color: red;
    }
  }
}

textarea {
  height: 200px;
}

input[type="submit"] {
  margin-top: 20px;
}

label {
  padding: 10px 0;
  display: block;
}

form.card {
  margin-top: 50px;
  padding: 0;
}

.form-contents {
  padding: 0 5rem 5rem 5rem;
}

form.card h2 {
  text-align: center;
  background: #9D50BB;
  width: 100%;
  padding: 15px;
  color: white;
  border-radius: 10px 10px 0 0;
}

.form {
  background: white;
  padding: 2rem;
  box-shadow: $grad;
  & + .form {
    margin-top: 4rem;
  }
  h2 {
    margin: 0;
    font-size: 2rem;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid $grey;
  }
}

.gender-choice {
  display: inline-block;
}
