.hide {
  text-indent: -999999px;
  font-size: 0;
}

.button {
  border: 0;
  background: #9D50BB;
  color: white;
  font-family: 'Panama';
  font-weight: 600;
  border-radius: 10px;
}

.avatar {
 min-width: 50px;
 height: 50px;
 border-radius: 50%;
 align-self: center;
}

.card {
  background: white;
  border-radius: 10px;
  padding: 5rem;
  box-shadow: 0 1px 10px rgba(0,0,0,0.15);
}

pre.error {
  padding: 5rem;
  background: white;
  line-height: 3;
  white-space: pre-line;
}
