html {
  font-size: 10px;
}

body {
  background: $purple;
  background:#efefef;
}

.inner {
  max-width:900px;
  margin: 0 auto;
  @media all and (max-width: 900px) {
    padding: 2rem;
  }
}

footer {
  margin-top: 100px;
  text-align: center;
  background: #303030;
  color: white;
  padding: 20px 0;
}

footer a {
  color: white;
}

footer p {
  margin-bottom: 0;
}

span.heart {
  color: red;
}